<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<h1><a href="/products_page"><i style='font-size:28px' class='fas'>&#xf30a;</i></a>      Continue Shopping</h1>
<div id = "parent-cart">
    <% @cart_products.each_with_index do |cart_product,i|%>
    <div id = "child-cart">
        <%= image_tag cart_product.image_url, id:"cart-img" %>
       <p id = "cart-pname"> <%= cart_product.product_name %></p>
       
        <button class = "minus" id ="minus_<%= cart_product.id%>" onclick="minus(<%= i%>)" value="1">-</button>
        <input id = "number<%= i%>"  value="1"class="para2">
        </input>
        <%# <button id = "number">1</button> %>
        <button class = "plus" onclick="plus(<%= i%>)" id ="minus_<%= cart_product.id%>">+</button>
        <p id = "cart-price">Rs:<%= cart_product.price  %></p>
        <button id = "delete-butt"><i class="fa fa-trash-o" style="font-size:30px; color:#8d8585"></i></button>
        <button id = "buy-button">PROCCED TO PAY</button>
    </div>
    <%end%>
   
</div>
</body>
<script>
    function plus(inputId) {
        let getattribute = event.target.value;
        let value1 = document.getElementById("number"+inputId).value;
        console.log(value1);
        let typecasting = JSON.parse(value1);
        let qtyValue = typecasting + 1;
        if (qtyValue != null) {
            document.getElementById("number"+inputId).value = qtyValue;
         }
    }
      function minus(inputId) {
        let getattribute = event.target.value;
        let value1 = document.getElementById("number"+inputId).value;
        console.log(value1);
        let typecasting = JSON.parse(value1);
        let qtyValue = value1>1 ?typecasting -1:1;
        if (qtyValue != null) {
            document.getElementById("number"+inputId).value = qtyValue;
        }
    }

</script>