<body id = "login-body">
    <div id = "login-img">
        <%# <%= image_tag 'empty-light-wall.jpg', alt: 'logo', id:'l-img' %> 
        <div class = "login-logo">
            <%= image_tag 'TEXT-WHITE.png', alt: 'logo', id:'dec' %>
        </div> 
    </div>
    <div id = "login-parent">
        
        
        <div id = "form-div">
        <h1 id = "l-head">Login</h1>
            
                <%= form_with(model: @user_data,  url: "/create_session", method: "POST") do |form| %>
                <%= form.email_field "user[email]", id:"mail" ,placeholder: "Email" , class: "input", :required => true, pattern:"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$",title: "please include an '@' in the email address"%><br>
                <%= form.password_field "user[password]", id:"pass" , placeholder: "Password", class: "input", :required => true ,maxlength:"15",pattern:"(?=.*\d)(?=.*[a-z])(?=.*[A-Z]){8,}", title:"Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters "%><br>
                <input type = "checkbox"  id = "check" onclick="showPassword()"><br>
                <%= form.submit "Submit", id:"sub"%>
                <p id = "l-para">You haven't an account?<a href="signup.html">Sign up</a></p>
                <% end %> 
                <% flash.each do |type, msg| %>
                <div class = "flash-msg">
                    <%= msg %>
                </div>
        <% end %>

        </div>

    </div>
</body>

<script>
    function showPassword(){
        let check1 = document.getElementById("pass");
       
        if(check1.type == "password"){
            check1.type = "text";
        }
        else{
            check1.type = "password"
        }
    }
</script>



