    <div id = "nav">
        <div id = "logo-div">
            <%= image_tag 'TEXT-WHITE.png', alt: 'logo', id:'home-dec' %>
        </div>
        <div id = "search-div">
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search" id = "search">
                <button type="submit" id = "icon"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="topnav" >
        
        <a class="active" href="index.html.erb" style = "margin-left:12%" id = "nav-a">Home</a>
        <a href="About.html" id = "nav-a">Antique</a>
        <a href="Shop.html" id = "nav-a">Gifts</a>
        <%# <a href="Gallery.html">Lamp&Lightning</a> %>
      
        <a href="Gallery.html" id = "nav-a">wall Hanging</a>
        <div id = "address-div">
               <a href = "/address" id = "add-anger"> <i class="fa fa-map-marker" aria-hidden="true" style = "font-size: 25px;"></i>
               <p id = "address-para">select your address</p></a>   
        </div>
    </div>
        
        <div id = "cart-div">
            <a href = "/cart_page"><i class="fa fa-shopping-cart" style="font-size:25px ; color:#EEEEEE"></i></a>
            
        </div>
        <div class="dropdown2">
            <button class = dropbtn2><i class="fa fa-user-circle-o" style="font-size:25px; color:#EEEEEE" ></i></button>
            <div class = "dropdown-content2">
                <h4 style = "margin-left: -36%;margin-bottom: 0;">Hello User</h4>
                <p style = "margin-left:-35% ;margin-top:0">access your decorom account</p>
                <a href="login.html" style="color:white">Login</a>
                <%# <a href="#">Link 2</a>
                <a href="#">Link 3</a> %>
            </div>
            
            
        </div>

    </div>
    
    
    <div class="dropdown">
            <button class="dropbtn">Categories
                <i class="fa fa-navicon" style="font-size:24px;margin-left:5%; position:absolute"></i>
            </button>
            <div class="dropdown-content">
                <a href="/clocks">Wall Clocks</a>
                <a href="/paintings">Wall Paintings</a>
                <a href="#">Toys</a>
                <a href="#">Carpets</a>
                <a href="/lights">Lights</a>
                <a href = "/statues">Statues</a>
                <a href="#">Wall Stickers</a>
                <a href="/candleholders">Candle Holders</a>
                <a href="/shelfhangings">Shelf Hangings</a>
            </div>
            
    </div>

    <div id = "img">
             <%= image_tag 'intro.jpg', alt: 'logo', id:'intro-img' %>
    </div>

      
    <div id = "t-prodect">
            <p id = "p1">Live The Life You Imagined</p>
            <p id = "p2">Lowest Prices Best Quality Shopping</p>
            <button id = "s-button"><a href = "products_page" style = "color:white">Shop now</a></button>
    </div>
    <div id = "advantage">
        <h1 id = "des">Why Shop With Us</h1>
        <div class = "a-div" id="f-div">
                <%= image_tag 'delivery-icon.png', alt: 'logo', class:'logo'  %>
                <h2 style ="text-align: center;color:white">Fast Delivery</h2>
                <p style = "margin-left:13%; color:white;" >we are trying to deliver products to our </p>
                <p  style = "margin-left:22%; color:white;">customers within two days.</p>
        </div>
        <div class = "a-div" id="">
                <%= image_tag 'free.png', alt: 'logo', class:'logo'  %>
                <h2 style ="text-align: center;color:white" >Free Shiping</h2>
                <p style = "margin-left:13%; color:white;">we provide free shipping for minimum-</p>
                <p style = "margin-left:32%; color:white;">price products.</p>
        </div>
        <div class = "a-div" id="">
                <%= image_tag 'medal.png', alt: 'logo', class:'logo'  %>
                <h2 style ="text-align: center;color:white">Best Quality</h2>
                <p style = "margin-left:13%; color:white;">we are always trying to give the best </p>
                <p style = "margin-left:32%; color:white;">quality products.</p>
                
        </div>
    </div>
     <div id ="container">
        <h1 id = "about">Trending Prodects</h1>
        
        <% @trending.each do |list| %>
       <div class = "trending-img">
           <%= image_tag list.image_url, class:"t-img" %>
            <h4 class = "t-name"  onclick = "myFunction()"><%= list.product_name %></h4>
            <p class = "t-desc"><%= list.description%></p>
            <p class = "t-rate">Rs:<%= list.price%></p><br>
            <a href="#"><button  class ="buy-button" >Buy now</button></a>
            <a href="/add" class = "cart-button"><%= image_tag 'Shopping-cart.png', alt: 'logo', class:'cart-img' %></a> 
        </div>
        <% end %>
        
    </div>
    <div id = "subscribe">
        <h1 id = "sub-head" >Subscribe To Get Discount Offers</h1>
        <p id = "sub-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
        <p id = "sub-p2">tempor consectetur adipiscing </p>
        <input type = "search" placeholder = "Email" id = "s-bar"><br>
        <button type = "submit"   id = "sub-butt">Subscribe</button>
    </div>
    <div id = "review">
        <h1 id = "c-review">Customer's Testimonial</h1>
        <%= image_tag 'chithra_mam.png', alt: 'logo', id:'r-img' %>
        <h4 id = "name">Chithra Muthukumaran</h4>
        <p id = "type">Customer</p>
        <p id = "review-p1">Dignissimos reprehenderit repellendus nobis error quibusdam? 
        Atque animi sint unde quis reprehenderit, et, perspiciatis, 
        debitis totam est deserunt eius officiis ipsum ducimus ad labore 
        </p><p id = "review-p2">modi voluptatibus accusantium sapiente nam! Quaerat.</p>
    </div>
    <div id = "footer">
        <div id = "address">
             <%= image_tag 'text.png', alt: 'logo', id:'f-img' %>
             <p>ADDRESS: 28 White tower, Street Name New York City, USA</p>
             <p>TELEPHONE: +91 987 654 3210</p>
             <p>EMAIL: yourmain@gmail.com</p>
        </div>
         <div id = "menu">
            <h3 class = "f-head">Menu</h3>
             <p class = "footer-p">Home</p>
             <p class = "footer-p">About</p>
             <p class = "footer-p">Contact</p>
             <p class = "footer-p">Blog</p>
        </div>
         <div id = "account">
            <h3 class = "f-head">Account</h3>
             <p class = "footer-p">Account</p>
             <p class = "footer-p">Checkout</p>
             <p class = "footer-p">Login</p>
             <p class = "footer-p">Register</p>
        </div>
    </div>
    <footer>
         <p id = "foot-para1">Email Id : mahalakshmiragaviragavi@gmail.com</p>
        <p id = "foot-para2">© 2022  All Rights Reserved By  Mahalakshmi Palani</p>
    </footer>
