<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    
  </style>
</head>
<body id = "home-body">
    <div id = "nav">
        <div id = "logo-div">
            <%= image_tag 'TEXT-WHITE.png', alt: 'logo', id:'home-dec' %>
        </div>
        <div id = "search-div">
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search" id = "search">
                <button type="submit" id = "icon"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="dropdown2">
            <button class = dropbtn2><i class="fa fa-user-circle-o" style="font-size:25px; color:#EEEEEE" ></i></button>
            <div class = "dropdown-content2">
                <h4 style = "margin-left: -36%;margin-bottom: 0;">Hello User</h4>
                <p style = "margin-left:-35% ;margin-top:0">access your decorom account</p>
                <a href="login.html" style="color:white">Login</a>
                <%# <a href="#">Link 2</a>
                <a href="#">Link 3</a> %>
            </div>
            
            
        </div>
        <div id = "cart-div">
            <i class="fa fa-shopping-cart" style="font-size:25px ; color:#EEEEEE"></i>
            
        </div>

    </div>
    <div class="topnav">
        
        <a class="active" href="index.html.erb" style = "margin-left:12%" id = "nav-a">Home</a>
        <a href="About.html" id = "nav-a">Antique</a>
        <a href="Shop.html" id = "nav-a">Gift's</a>
        <%# <a href="Gallery.html">Lamp&Lightning</a> %>
      
        <a href="Gallery.html" id = "nav-a">wall Hanging</a>
        
    </div>
    <div class="dropdown">
            <button class="dropbtn">Categories
                <i class="fa fa-navicon" style="font-size:24px;margin-left:5%; position:absolute"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">wall clock</a>
                <a href="#">Antique prodects</a>
                <a href="#">Toys</a>
            </div>
    </div>

    <div id = "product-list">
      
        <% @showlist.each do |records|%>
            <div id = "add-img-div">
                
                <%= image_tag records.image_url, id:"p-img" %>
               <h3 id = "p-name"><%= records.product_name %></h3>
               <p id = "p-desc">BS AMOR Artificial Fancy Wall Hanging Garland Money Plant Leaf Bail</p>
               <h3 id = "p-rate">Rs:<%= records.price%></h3>
               <button id ="buy">BUY NOW</button>
               <button id = "cart-butt"><%= image_tag 'shopping-cart.png', alt: 'logo', id:'cart' %></button>
            </div>
        <%end%>
    </div> 
    
  </body>
</html>


