
<div id = "product-list">
        <% items.each do |product| %>
        <div id = "add-img-div">
                <%= image_tag product.image_url, id:"p-img" %>
                <h4 id = "p-name"><%= product.product_name %></h4>
                <p id = "p-desc"><%= product.description%></p>
                <p id = "p-rate">Rs:<%= product.price%></p>
                <span class="striked-price"><s><%= product.actualprice%></s></span><br>
                <button id ="buy">BUY NOW</button>
                <button id = "cart-butt"><%= image_tag 'Shopping-cart.png', alt: 'logo', id:'cart' %></button>
        </div>
        <% end %>
       
      
    </div> 