<body id = "add-body">
<div id = "a-img">
        <%= image_tag 'TEXT-WHITE.png', alt: 'logo', id:'add-img' %>
</div>
<div id = "add-form">
        <h1 id= "add-head">Add Products</h1>
                
                <%= form_with url:'add_products_path', method:"POST" do |form| %> 
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                    <%= form.text_field "add[product_name]" ,placeholder: "name", class:"p-input" %>
                    <%= form.text_field "add[description]" ,placeholder: "description", class:"p-input" %>
                    <%= form.text_field "add[image_url]", placeholder: "url", class:"p-input" %>
                    <%= form.number_field "add[price]",placeholder: "rate", class:"p-input"%>
                    <%= form.number_field "add[actualprice]",placeholder: "actual_rate", class:"p-input"%>
                     <select name="add[categories]" id="select" required>  
                        <option>select</option>     
                        <option value="wall painting">wall painting</option>
                        <option value="antique">antique</option>
                        <option value="gift">gift</option>
                        <option value="lights">lights</option>
                        <option value="wall clocks">wall clocks</option>
                        <option value="shelf hanging">shelf hanging</option>
                        <option value="wall sticker">wall sticker</option>
                        <option value="ceramic">ceramic</option>
                        <option value="candle holder">candle holder</option>
                        <option value="statues">statues</option>
                        <option value="carpet">carpet</option>
                    </select>
                    <%= form.submit "Submit", id:"p-sub" %>
                   
                 <% end%>  
</div>

</body>